{
  "log": {
    "_recordingName": "Index Tests/index function makes authenticated HTTP requests",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "e3dad8bca75f21cd36289d3a8b2a2d8d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "token 2f724175a34e3536573e2547e3e25822201950ec"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "recursive",
              "value": "1"
            }
          ],
          "url": "https://api.github.com/repos/trieloff/excelsior-ui/git/trees/c1e15f0fc0edf7e504e4c55b60df996c03e64b48?recursive=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1989,
            "text": "{\"sha\":\"c1e15f0fc0edf7e504e4c55b60df996c03e64b48\",\"url\":\"https://api.github.com/repos/trieloff/excelsior-ui/git/trees/c1e15f0fc0edf7e504e4c55b60df996c03e64b48\",\"tree\":[{\"path\":\"README.md\",\"mode\":\"100644\",\"type\":\"blob\",\"sha\":\"4e16274632ae3fd076505ea591a44bf94fc5f1ce\",\"size\":761,\"url\":\"https://api.github.com/repos/trieloff/excelsior-ui/git/blobs/4e16274632ae3fd076505ea591a44bf94fc5f1ce\"},{\"path\":\"app.css\",\"mode\":\"100755\",\"type\":\"blob\",\"sha\":\"04e8e277b42e53024340d28a8a05fea0647b51ce\",\"size\":1647,\"url\":\"https://api.github.com/repos/trieloff/excelsior-ui/git/blobs/04e8e277b42e53024340d28a8a05fea0647b51ce\"},{\"path\":\"app.html\",\"mode\":\"100644\",\"type\":\"blob\",\"sha\"[...]
