{
  "log": {
    "_recordingName": "Index Tests/index filters by pattern",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "a1db733ca9f57684a4f47dbce499b501",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "recursive",
              "value": "1"
            }
          ],
          "url": "https://api.github.com/repos/trieloff/helix-demo/git/trees/ca8959afbb2668c761e47a4563f054da2444ab30?recursive=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 10765,
            "text": "{\"sha\":\"ca8959afbb2668c761e47a4563f054da2444ab30\",\"url\":\"https://api.github.com/repos/trieloff/helix-demo/git/trees/ca8959afbb2668c761e47a4563f054da2444ab30\",\"tree\":[{\"path\":\".circleci\",\"mode\":\"040000\",\"type\":\"tree\",\"sha\":\"1a2143b90b1e50194fe5db06047602c2d9bd905b\",\"url\":\"https://api.github.com/repos/trieloff/helix-demo/git/trees/1a2143b90b1e50194fe5db06047602c2d9bd905b\"},{\"path\":\".circleci/config.yml\",\"mode\":\"100644\",\"type\":\"blob\",\"sha\":\"58fa5d270a7c9b61cf9dc7081d6b937eb88c56bf\",\"size\":1010,\"url\":\"https://api.github.com/repos/trieloff/helix-demo/git/blobs/58fa5d270a7c9b61cf9dc7081d6b937eb88c56bf\"},{\"path\":\".forestry\",\"mode\":\"040000\",\"type\":\"tree\",\"sha\":\"[...]
